<!DOCTYPE html>
<html>
    <head>
    
    <!-- Include CSS File Here -->
    <link rel="stylesheet" href="static/main.css/style.css"/>
    <!-- Include JS File Here -->
    <script src="static/main.js/login.js"></script>
    </head>
    <body>
    <div class="container">
    <div class="main">
    <h2>COMPIFY ADMIN</h2>
    <BR>
    <form id="form_id" method="post" name="myform" action="{{url_for("faq")}}">
    <label>User Name :</label>
    <input type="text" name="username" id="username"/>
    <label>Password :</label>
    <input type="password" name="password" id="password"/>
    <input type="button" value="Login" id="submit"  onclick="validate()"/>
    </form>
   
    </div>
    </div>
    </body>
    </html>