<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/main.css/header.css"/>
</head>
<body>

<div class="header">
    <h1 class="logo">COMPIFY</h1>
  <div class="header-right">
    <a href="{{ url_for('homepage') }}">HOME</a>
    <a href="{{ url_for('task') }}">TASK</a>
    <a href="{{ url_for('faq') }}">FAQ</a>
    <a href="{{ url_for('feedback') }}">FEEDBACK</a>
    <a href="{{ url_for('user') }}">USERS</a>
  </div>
</div>
<br>
<h1 style="padding-left: 650px;">SHOP</h1>
<br>
<br>
<br>

<div class="tasktable">
  <form action="{{url_for("shop")}}
  "  method="post" >
        <label for="description">description:</label>
    <input type="text" id="description" name="description" required><br><br>

    <label for="destroy">destroy:</label><br><br>
    <label for="true">true:</label><br>
        <input type="radio" id="destroy" name="destroy" value="true"><br><br>
        <label for="false">false:</label><br>
        <input type="radio" id="destroy" name="destroy" value="false"><br><br>
       
    <label for="displayPicUrl">displayPicUrl:</label>
    <input type="text" id="displayPicUrl" name="displayPicUrl" required><br><br>
       
      
       
        
       
        <label for="expiryDate">expiryDate:</label>
        <input type="datetime-local" id="expiryDate" name="expiryDate" required><br><br>
       
        <label for="isActive">isActive:</label><br><br>
        <label for="true">true:</label>
        <input type="radio" id="isActive" name="isActive" value="true"><br><br>
        <label for="false">false:</label>
        <input type="radio" id="isActive" name="isActive" value="false"><br><br>
       
        <label for="latLong">latLong:</label>
        <input type="text" id="latLong" name="latLong" required><br><br>
       
        <label for="name">name:</label>
    <input type="text" id="name" name="name" required><br><br>
       
        <label for="qrId">qrId:</label>
        <input type="text" id="qrId" name="qrId" required><br><br>
       
        <label for="redeemAmount">redeemAmount:</label>
        <input type="number" id="redeemAmount" name="redeemAmount" required><br><br>

        <label for="redeemedBy">redeemedBy:</label>
        <input type="text" id="redeemedBy" name="redeemedBy" required><br><br>
       
    
        <input type="submit" value="Submit">
      </form>
    </div>
<br>
<br>
<br>
<br>
</body>
</html>
